
   <nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">INSTAPOST</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class=" topnav-right navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
       
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown link
          </a>
          <ul class="dropdown-menu" >
           
            <li><a class="dropdown-item"  <%= link_to 'Favourited posts', favourites_path%>
</a></li>
            <li><a class="dropdown-item" 

<%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete }%></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>